body{
   /* padding: 2rem;*/
    padding-right: 1rem;
    /* */
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.ger-al{
    margin-top: 40px; 
    align-items: center;
    background: linear-gradient(
        to right,
        rgba(189, 123, 209, 0.7),
        rgba(255, 159, 223, 0.7),
        rgba(136, 200, 238, 0.7)
      ); 
      padding-left: 860px;
    padding: 40px 20px;
    border-radius: 0px 12px 12px 0px;
    width: 100%;
    height: 30%;
    
}

.acertadashboard{
    display: flex;
}

.logo-tipo img{
    height: 100%;
    width: 120px;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.material-icons{
    transform: scale(1);
    color: white;
}

.logo-tipo{
    display: grid;
    place-items: center;
    padding-left: 40px;
    width: 98%;
}

.divlogout{
    padding-left: auto;
}

.logo-tipo h1{
    font-family: Fredoka, sans-serif; 
    color: white;
}


a{
    box-shadow: 1px 1px 10px #000000;
    text-align: center;
    text-decoration: none;
    transition: 0.2s all;
    cursor: pointer;
    color: white;
}

a:hover{
    transform: scale(1.05);
}

.botoes-superiores{
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 40px;
}

.botoes-superiores a{
    background-color: #88C8EE;
    padding: 20px 40px;
    border-radius: 12px;
    font-family: Itim;  
    font-size: 32px;  
}

.button-logout{
    background-color: #FF9FDF;
    border-radius: 6px;
    font-family: Itim, sans-serif;  
    font-size: 32px; 
    margin-left: auto;
    margin-right: 10px;
    display: block;
    padding: 12px 12px;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.diminuir{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 40px;

}

@media screen and (max-width:840px) {
    .logo-tipo{
        padding-left: 60px;
    }
}

@media screen and (max-width:600px) {
    .logo-tipo{
       padding-left: 40px;
    }
    .logo-tipo h1{
        font-size: 24px;
    }

    .logo-tipo img{
        height: 100%;
        width: 100px;
    }

    .botoes-superiores a{
        font-size:22px;
    }

    .button-logout{
        font-size: 1px;
        margin-right: 30px;
    }

    .cabeçalho{
        width: 100%;
        padding: 20px 20px;
        transform: scale(1.1);
    }
}

@media screen and (max-width:522px) {
    .botoes-superiores{   
        gap: 30px;
        flex-direction: column;
    }

    .diminuir{
        gap: 30px;
    }

    .divlogout{
        transform: scale(0.8);
    }

    .logo-tipo{
        padding-left: 48px;
     }
}

@media screen and (max-width:370px) {
   
    .logo-tipo{
        padding-left: 25px;
    }

    .divlogout{
        transform: scale(0.7);
        margin-right: 5px;
    }
    .button-logout{
        margin-right: 10px;
    }
}