@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    padding: 0;
    margin: 0;
}

footer{
    /* position: absolute;     Isso deu certo no pc mas no resto não tá deixando o footer totalmente no fim da página
    bottom: 0;    */
    font-family: "Itim", cursive;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
}

footer .redeSocial{
    background-color: #f09fd5;
    /* display: flex;
    justify-content: center; */
    padding: 1% 0;
}


.redeSocial ul{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
    box-sizing: border-box;
}

.redeSocial ul li{
    padding-left: 5%;
    padding-right: 2%;
}

.redeSocial ul  li i a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
}


footer .infos {
    background-color: #bd7bd1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 5%;
}

.infos ul{
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    gap: 25%;
}

.infos li{
    font-size: 24px;
}

.infos img{
    height: 100px;
}

.infos #code{
    height: 88px;
    border-radius: 12px;
}

@media screen and (max-width: 767px){
    .redeSocial {
        width: 100%;
    }

    .redeSocial ul{
        font-size: 24px;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }

    .infos{
        padding-left: 2%;
        padding-right: 2%;
    }

    .infos li{
        font-size: 14px;
        padding-left: 1%;
        padding-right: 1%;
    }

    .infos ul{
        justify-content: center;
        gap: 15%;
    }

    .infos img{
        height: 60px;
    }

    .infos #code{
        height: 53px;
    }
}