@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    padding: 0;
    margin: 0;
}

footer{
    margin-top: 572px;
    bottom: 0;
    font-family: "Itim", cursive;
    width: 100%;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
}

footer .redeSocial{
    background-color: #f09fd5;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.redeSocial ul{
    display: flex;
}

.redeSocial ul li{
    padding-right: 40px;
}

.redeSocial ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
}

footer .infos {
    background-color: #bd7bd1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.infos ul{
    display: flex;
    justify-content: space-around;
    color: #f2f2f2;
}

.infos li{
    margin-right: 20px;
    font-size: 24px;
}

.infos img{
    height: 100px;
}

.infos #code{
    height: 88px;
    border-radius: 12px;
}
