.topo{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.topo p{
  font-family: "Fredoka";
  width: fit-content;
  color: white;
}


#divBusca {
  background-color: white;
  border-radius:12px;          
  width: 25%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  color: #bd7bd1;
} 


.invisivel{
  width: 25%;
}


#txtBusca {
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 100%;
  outline: none;
}

#divBusca img {
  width: 30px;
  padding-left: 10px;
  margin-right: 15px;
  filter: invert(100%);
}
.paginação {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}
.button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;                       
  background-color: #F09FD5;
  border: #f09fd5;
  color: white;
  box-shadow: 1px 1px 10px #000000;
}
.seta {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;                                  
  background-color: #f09fd5;
  border: #f09fd5;
  color: white;
  margin: 4px;
  box-shadow: 1px 1px 10px #000000;
}
button:hover {
  background-color: #f763c6;
  cursor: pointer;
  }
  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: "Fredoka", sans-serif;  
}
.desc{
  padding-bottom: 20px;
  background-color: #bd7bd1;
  display: block;
  text-align: center;
}
.desc p{
  margin: 40px 120px;
}

.logo{
  text-align: center;
}
.logo img{
width: 25%;
height: 25%;

}
.texto{
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;
  color: white;
}

.grupos{
  margin: 120px 0px;
  width: 100%;
  background-color: #fefefe;
  justify-content: space-around;
}
.conj{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px 160px;
  padding-block: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5%;
}
.titulo{
  width: 42%;
  text-align: center;
  font-size: 32px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fefefe;
  width: 180px;
  height: 100%;
  border-radius: 12px ;                                
  
}
.item img{
  width: 100%;
  height: 180px;
  border-radius: 12px;                                
  object-fit: cover;
}
.item p{
  text-align: center;
  align-items: center;
}
.posts{
  display: flex;
  margin: 20px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;  
  padding-top: 60px;
  padding-bottom: 60px; 
  background: linear-gradient(
        to right,
        rgba(189, 123, 209, 0.7),
        rgba(255, 159, 223, 0.7),
        rgba(136, 200, 238, 0.7)
      );
  border-radius: 12px;
}
.postG{
  padding: 60px;
  width: 80%;
  max-width: 1400px;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: fit-content;

}

.imagem{
  width: 320px;
  border-radius: 6px;                                          
  background-color: #88c8ee;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  transition: all 0.2s;
  box-shadow: 1px 1px 10px #000000;  
}

.imagem:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.imagem p{
  padding-left: 6px;
  color: white;
}

.imgGrupo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 310px;
  border-radius: 6px 6px 0px 0px;                                
  object-fit: cover;
}

.postLista1{
  gap: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.botao1{
  display: flex;
  justify-content: center;

}
.botao1 button{
  background-color: #fefefe;
  color: #bd7bd1;
  font-size: 16px;
  padding: 10px;
  border-radius: 12px;                       
  border: none;
  outline: none;
  transition: all 0.2s;
}
.botao1 button:hover{
  transform: scale(1.2);
}

.textoData{
  font-size: 16px;
  opacity: 80%;
}
.textoAutor{
  font-size: 20px;
}
.autor{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.elipse {
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.content-autor{ 
  display: flex;
  align-items: center;
  padding: 10px;
}


@media only screen and (max-width:1280px){
  .imagem{
      width: 260px;
  }
  .imagem img{
      height: 220px;
  }
  .imgGrupo{
      height: 50%;
  }
  .item img{
      width: 140px;
      height: 140px;
  }
  .posts{
      margin: 60px 60px;
  }
  .grupos{
      margin: 60px 0px;
  }
  #divBusca{
  height: 32px;
  }

}

@media only screen and (max-width:1320px){
  .imagem{
      width: 260px;
  }
  .imagem img{
      height: 220px;
  }
  .imgGrupo{
      height: 50%;
  }
  .item img{
      width: 140px;
      height: 140px;
  }
  .posts{
      margin: 60px 60px;
  }
  .grupos{
      margin: 60px 0px;
  }
  #divBusca{
  height: 32px;
  }
  .topo{
    gap: 2%;
  }
}

@media only screen and (max-width:1024px){
  .imagem{
    width: 200px;
}
.imagem img{
  height: 220px;
}
.imgGrupo{
  height: 50%;
}
  #divBusca{
  height: 32px;
  }
 
  .topo p{
    font-size: 30px;
  }
}

@media only screen and (max-width:980px){
  .imgGrupo{
      height: 50%;
  }
  .item img{
      width: 140px;
      height: 140px;
  }
  .posts{
      margin: 60px 60px;
  }
  .grupos{
      margin: 60px 0px;
  }
  #divBusca{
  height: 32px;
  }
}

@media only screen and (max-width:853px){
  .postG{
    grid-template-columns: repeat(2,1fr);
  }
  .topo p{
    font-size: 22px;
  }

  .textoAutor{
      font-size: 18px;
  }
  .texto{
      font-size: 20px;
  }
  .imagem{
      width: 190px;
  }
  .imagem img{
      height: 180px;
  }
  .imgGrupo{
      height: 100%;
  }
  .item img{
      width: 120px;
      height: 120px;
  }

  .elipse {
    height: 35px;
    width: 35px;
  }
  #divBusca{
  height: 32px;
  width: 40%;
  }

  .invisivel{
    width: 40%;
  }

}

@media only screen and (max-width:590px){
  .postG{
    grid-template-columns: repeat(1,1fr);
  }
  .textoAutor{
      font-size: 18px;
  }
  .texto{
      font-size: 20px;
  }
  .imagem{
      width: 200px;
  }
  .imagem img{
      height: 180px;
  }
  .imgGrupo{
      height: 100%;
  }
  .item img{
      width: 120px;
      height: 120px;
  }
  .elipse {
    height: 35px;
    width: 35px;
  }
  #divBusca{
  height: 32px;
  }
  .topo{
    margin-left: 1px;
    gap: 5%;
  }
}


@media only screen and (max-width:540px){
  .texto{
      font-size: 16px;
  }
  .textoAutor{
      font-size: 14px;
  }
  .textoData{
      font-size: 12px;
  }
  .titulo{
      font-size: 16px;
  }
  .desc p{
      margin: 10px 60px;
  }
  .item{
      width: 80px;
  }
  .item p{
      font-size: 16px;
  }
  .botao1{
      transform: scale(0.5);
  }

 .grupos{
  margin: 20px 0px;
 }
  .conj{
      padding: 20px;
  }
  .posts{
      margin: 10px;
      padding: 20px;
      gap: 12px;
  }
  .postG{
      gap: 30px;
  }
  .autor{
      padding: 6px;
  }
  .postLista1{
      display: flex;
      flex-direction: column;
      gap: 30px;
  }
  .imagem{
      width: 240px;
  }
  .imagem img{
      height: 220px;
  }
  .imgGrupo{
      height: 220px;
  }
  .item img{
      width: 80px;
      height: 80px;
  }

  .topo{
    gap: 5%;
    margin-bottom: 30px;
  }
  .topo p{
    font-size: 24px;
  }
  #txtBusca{
    font-size: 14px;
  }
  .elipse {
    height: 30px;
    width: 30px;
  }

}

@media only screen and (max-width:450px){

  #divBusca{
    width: 60%;
    margin-top: 5%;
  }

  .topo{  
    flex-direction: column-reverse;
  }

  .texto{
      font-size: 16px;
  }
  .textoAutor{
      font-size: 14px;
  }
  .textoData{
      font-size: 12px;
  }
  .titulo{
      font-size: 16px;
  }
  .desc p{
      margin: 10px 60px;
  }
  .item{
      width: 80px;
  }
  .item p{
      font-size: 16px;
  }
  .botao1{
      transform: scale(0.5);
  }

 .grupos{
  margin: 20px 0px;
 }
  .conj{
      padding: 20px;
  }
  .posts{
      margin: 10px;
      padding: 20px;
      gap: 12px;
  }
  .postG{
      gap: 30px;
  }
  .autor{
      padding: 6px;
  }
  .postLista1{
      display: flex;
      flex-direction: column;
      gap: 30px;
  }
  .imagem{
      width: 240px;
  }
  .imagem img{
      height: 220px;
  }
  .imgGrupo{
      height: 220px;
  }
  .item img{
      width: 80px;
      height: 80px;
  }
  .topo{
    gap: 6%;
  }
  .topo p{
    font-size: 18px;
  }
  .elipse {
    height: 30px;
    width: 30px;
  }
  #txtBusca{
    font-size: 14px;
  }

}

@media only screen and (max-width:412px){
  .imgGrupo{
      height: 50%;
  }
  .item img{
      width: 64px;
      height: 64px;
  }
}