*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
body *{
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.criar{
    width: fit-content;
    height: fit-content;
}

.modal{
    display: none;
    position: absolute;
    width: 300px;
    height: fit-content;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_deletar{
    display: flex;
    flex-direction: column;

}
.cencelarTexto{
    width: 100%;
    text-align: center;
    justify-content: center;
 }

 .modal_deletar p{
    text-align: center;
    justify-content: center;
 }

.botoes_del{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;    
    padding-top: 20px;

}
.botoes_del button{
    padding: 4px 12px 4px 12px;
    border-radius: 12px;
    color: #f0f0f0;
    background-color: #bd7bd1;
    border: none;
    transition: all 0.2s;
}
.botoes_del button:hover{
    transform: scale(1.05);
}





@media only screen and (max-width:950px){
    .cancelarTexto{
        font-size: 20px;
    }
    .botoes_del button{
        font-size: 24px;
    }
    .modal_deletar{
        transform: scale(0.8);
    }
    .botoes_del{
        transform: scale(0.8);
    }
}


@media only screen and (max-width:650px){

    .modal_deletar{
        transform: scale(0.7);
    }
    .cancelarTexto{
        font-size: 20px;
    }
    .botoes_del button{
        font-size: 20px;
    }
    .botoes_del{
        transform: scale(0.7);
    }

} 
@media only screen and (max-width:450px){

    .modal_deletar{
        transform: scale(0.5);
    }
    .cancelarTexto{
        font-size: 20px;
    }
    .botoes_del button{
        font-size: 18px;
        width: 96px;
    }
} 