@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Itim&display=swap');

.header-VU{
    background-color: #BD7BD1;
    width: 552px;
    height: 100px;
    border-radius: 6px 6px 0px 0px;
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 3;
}
.inputImg{
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 1;
}


.modaledit{
    display: none;
    width: 552px;
    height: fit-content;
    padding-bottom: 2% ;
    /* margin: 4rem;    */
    background-color: #F2F2F2;
    border-radius: 6px;
    z-index: 10;
    font-family: "Fredoka", serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.imgEdit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-entrada{
    width: 120px;
    height: 120px;
    position: relative;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.img-entrada label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-entrada:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.material-symbols-outlined{
    transform: scale(1.35);
    position: absolute;
    color: #F2F2F2;
    opacity: 0;
}

.img-entrada:hover .material-symbols-outlined {
    opacity: 1;
}

.info-usuario{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.info-usuario h2{
    font-size: 32px;
    /* font-family: Itim,sans-serif; */
    
}

.info-usuario p{
    /* font-family: Itim,sans-serif; */
    font-size: 24px;
    color: rgba(0, 0, 0, 0.68);
}

.campodeentrada-EU{
    margin-top: 40px;
}

.formularios-EU{
    margin: 20px;
}

#formularioSenha-EU .nomecampos-EU{
    margin-left: 20px;
    font-size: 20px;
  }

.nomecampos{
    display: block;
    font-size: 20px;
    /* font-family: Inter,sans-serif; */
}

.formularios-EU input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 4px solid #BD7BD1;
    /* font-size: 22px; */
    outline: none;
    cursor: pointer;
    padding: 0 2%;
}

.inputSenha-EU{
    width: 400px;
    border: 4px solid #bd7bd1;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 0;
    margin-left: 20px;
    height: 40px;
    padding: 0 2%;
  }
  .inputSenha-EU input{
    border: none;
    width: 100%;
    margin: 0;
    outline: none;
    /* background-color: #bd7bd1; */
    height: 100%;
  }
  .inputSenha-EU i{
    cursor: pointer;
    color: #bd7bd1;
    transition: 0.2s;
  }
  .inputSenha-EU i:hover{
    transform: scale(1.1);
  }


.btnEdit{
    width: 110px;
    height: 36px;
    font-size: 24px;
    /* font-family: Itim,sans-serif; */
    text-decoration: none;
    color: #F2F2F2;
    background-color: #BD7BD1;
    border-radius: 8px;
    text-align: center;
    border: none;
}

.btnEdit:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btns-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin-top: 20px;
    gap: 20px;
}


.formularios-EU label{
    overflow: hidden;
}

.img-inp{
    display: none;
}

@media screen and (max-width:560px) {
    .modaledit{
    width: 470px;
    height: 600px;
    }

    .header-VU{
        width: 470px;
        height: 100px;
    }

    .img-entrada{
        width: 80px;
        height: 80px;
        margin-top: 50px;
    }

    .info-usuario h2{
        font-size: 28px;   
    }
    
    .info-usuario p{
        font-size: 20px;
    }

    .formularios-EU input{
        width: 300px;
        height: 30px;
        font-size: 16px;
        border: 3px solid #BD7BD1;
    }

    .inputSenha-EU{
        width: 300px;
        height: 30px;
        font-size: 16px;
        border: 3px solid #bd7bd1;
      }

    .btnEdit{
        width: 105px;
        height: 36px;
        font-size: 20px;
    }

    .nomecampos{
        font-size: 18px;
    }

    .campodeentrada-EU{
        margin-left: 20px;
    }

    .material-symbols-outlined{
        transform: scale(1.25);
    }
}

@media screen and (max-width:480px) {
    .modaledit{
    width: 400px;
    height: 520px;
    }

    .header-VU{
        width: 400px;
        height: 100px;
    }

    .img-entrada{
        width: 70px;
        height: 70px;
        margin-top: 60px;
    }

    .info-usuario h2{
        font-size: 28px;   
    }
    
    .info-usuario p{
        font-size: 20px;
    }

    .formularios-EU input{
        width: 250px;
        height: 25px;
        font-size: 16px;
        border: 2px solid #BD7BD1;
    }

    .inputSenha-EU{
        width: 250px;
        height: 25px;
        font-size: 16px;
        border: 2px solid #bd7bd1;
      }

    .btnEdit{
        width: 100px;
        height: 25px;
        font-size: 18px;
    }

    .nomecampos{
        font-size: 16px;
    }

    .campodeentrada-EU{
        margin-left: 5px;
    }

    .btnEdit{
        width: 35%;
        height: 35%;
        font-size: 18px;
    }

    /* .info-usuario{
        margin-top: 60px;
        margin-left: 40px;
    } */

    .material-symbols-outlined{
        transform: scale(1.15);
    }
}

@media screen and (max-width:430px) {
    .modaledit{
    width: 320px;
    height: 440px;
    margin-top: 200px;
    }

    .header-VU{
        width: 320px;
        height: 80px;
    }

    .img-entrada{
        width: 60px;
        height: 60px;
        margin-top: 45px;
        margin-left: 20px;
    }

    .info-usuario h2{
        font-size: 22px;   
    }
    
    .info-usuario p{
        font-size: 18px;
    }

    .formularios-EU input{
        width: 210px;
        height: 22px;
        font-size: 14px;
        border: 2px solid #BD7BD1;
    }

    .inputSenha-EU{
        width: 210px;
        height: 22px;
        font-size: 14px;
        border: 2px solid #bd7bd1;
      }

    .btnEdit{
        width: 80px;
        height: 25px;
        font-size: 18px;
    }

    .nomecampos{
        font-size: 16px;
    }

    .campodeentrada-EU{
        margin-top: 15px;
        margin-left: 1px;
    }

    .info-usuario{
        margin-top: 35px;
        margin-left: 30px;
    }

    .btns-edit{
        gap: 10px;
    }
}

@media screen and (max-width:350px) {
    .modaledit{
    width: 280px;
    height: 410px;
    }

    .header-VU{
        width: 280px;
        height: 70px;
    }

    .img-entrada{
        width: 55px;
        height: 55px;
        margin-top: 40px;
        margin-left: 20px;
    }

    .info-usuario h2{
        font-size: 20px;   
    }
    
    .info-usuario p{
        font-size: 16px;
    }

    .formularios-EU input{
        width: 200px;
        height: 20px;
        font-size: 14px;
        border: 2px solid #BD7BD1;
    }

    .inputSenha-EU{
        width: 200px;
        height: 20px;
        font-size: 14px;
        border: 2px solid #bd7bd1;
      }

    .btnEdit{
        width: 70px;
        height: 25px;
        font-size: 14px;
    }

    .nomecampos{
        font-size: 16px;
    }

    .campodeentrada-EU{
        margin-top: 15px;
        margin-left: 1px;
    }

    /* .info-usuario{
        margin-top: 35px;
        margin-left: 20px;
    } */

    .btns-edit{
        margin-left: 30px;
        gap: 10px;
    }

    .material-symbols-outlined{
        transform: scale(1.15);
    }
}

@media screen and (max-width:320px) {
    .modaledit{
    width: 250px;
    height: 450px;
    }

    .header-VU{
        width: 250px;
        height: 70px;
    }

    .img-entrada{
        width: 50px;
        height: 50px;
        margin-top: 40px;
        margin-left: 20px;
    }

    .info-usuario h2{
        font-size: 20px;   
    }
    
    .info-usuario p{
        font-size: 16px;
    }

    .formularios-EU input{
        width: 180px;
        height: 20px;
        font-size: 14px;
        border: 2px solid #BD7BD1;
    }

    .inputSenha-EU{
        width: 180px;
        height: 20px;
        font-size: 14px;
        border: 2px solid #bd7bd1;
      }

    .btnEdit{
        width: 70px;
        height: 25px;
        font-size: 14px;
    }

    .nomecampos{
        font-size: 16px;
    }

    /* .campodeentrada-EU{
        margin-top: 15px;
        margin-left: 1px;
    } */

    .info-usuario{
        margin-top: 35px;
        margin-left: 20px;
    }

    .btns-edit{
        margin-left: 30px;
        gap: 10px;
    }

    .material-symbols-outlined{
        transform: scale(1.15);
    }
    
}