/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* body{
    background-color: #bd7bd1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

} */
/* body *{
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
} */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.criar{
    width: fit-content;
    height: fit-content;
}

.modaldp{
    display: none;
    position: absolute;
    z-index: 3;
    /* width: 28%;
    left: 35%;
    top: 25%; */
}

.modal2{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #f2f2f2;
    border-radius: 6px;
    font-family: "Fredoka", sans-serif;
    padding: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.cencelarTexto{
    width: 100%;
 }

 .modal2 p{
    text-align: center;
 }

.botoesdp{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;    
}
.botoesdp button{
    padding: 4px 18px 4px 18px;
    border-radius: 12px;
    color: #f0f0f0;
    background-color: #bd7bd1;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
}

.botoesdp button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#opacidadebtncancelpost{
    opacity: 60%;
}





@media only screen and (max-width:950px){
    .cancelarTexto{
        font-size: 20px;
    }
    .botoesdp button{
        font-size: 24px;
    }
    .modaldp{
        transform: scale(0.8);
        width: 50%;
        left: 25%;
    }
}

@media only screen and (max-width:800px){
    .modaldp{
        width: 60%;
        left: 25%;
    }
}


@media only screen and (max-width:650px){

    .modaldp{
        transform: scale(0.7);
        width: 70%;
        left: 16%;
    }
    .cancelarTexto{
        font-size: 20px;
    }
    .botoesdp button{
        font-size: 20px;
    }

} 

@media only screen and (max-width: 500px){
    .modaldp{
        width: 80%;
        left: 10%;
    }
}

@media only screen and (max-width:400px){

    .modaldp{
        transform: scale(0.5);
        width: 100%;
        left: 5%;
    }
    .cancelarTexto{
        font-size: 20px;
    }
    .botoesdp button{
        font-size: 20px;
    }

} 