@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Itim&display=swap');

/* *{
    padding: 0;
    margin: 0;
} */

.modalEditarPost{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #f2f2f2;
    border-radius: 6px;
    font-family: "Fredoka", sans-serif;
    width: 100%;
}
/* Fora */
.novoModal{
    display: none;
    position: fixed;
    z-index: 3;
    width: 28%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
}   

.modaleditar-h2{
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    text-decoration: none;
    font-weight: normal;
}

.editmodalh2titulo{
    padding-left: 10px;
    width: 80%;
    padding: 5px;
}

.editmodalh2descricao{
    padding-left: 5px;
    width: 80%;
    padding: 5px;
}

.tituloModalEditar{
    background-color: #bd7bd1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Itim", cursive;
    color: #f2f2f2;
    font-weight: normal;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tituloModalEditar h1{
    margin: 0;
}

.conteudoEditar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infosFixasEditar, .imagemEditar, #adcTituloEditar, #adcDescEditar, .botoesEditar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.infosFixasEditar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38%;
    width: 100%;
}

.adcImageEditar{
    display: none;
}

.imagemEditar{
    background-color: #a4a0a059;
    border-radius: 12px;
    width: 70%;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-height: 200px;
}

.imgPost{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.material-symbols-outlined{
    transform: scale(1.35);
    position: absolute;
    color: #F2F2F2;
    opacity: 0;
}

.imagemEditar:hover .material-symbols-outlined {
    opacity: 1;
}

.conteudoEditar #adcTituloEditar{
    width: 80%;
    border-radius: 12px;
    border: 3px solid #bd7bd1;
    padding: 5px;
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
    
}

.conteudoEditar #adcTituloEditar:focus, .conteudoEditar #adcDescEditar:focus{
    outline: 3px solid #9b28be;
    border: none;
}

.conteudoEditar #adcDescEditar{
    width: 80%;
    border-radius: 12px;
    border: 3px solid #bd7bd1;
    padding: 4px;
    padding-bottom: 40px;
    resize: none;
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
}

.botoesEditar button{
    padding: 12px;
    border-radius: 12px;
    color: #f2f2f2;
    background-color: #bd7bd1;
    font-size: 16px;
    border: none;
    transition: all 0.2s;
}

.botoesEditar button:hover{
    scale: 1.05;
    cursor: pointer;
}

.conteudoEditar .botoesEditar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

@media only screen and (max-width: 1100px){
    .novoModal{
        width: 35%;
    }
}

@media only screen and (max-width: 900px){
    .novoModal{
        width: 38%;
    }

    .imagemEditar{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    .novoModal{
        width: 46%;
    }
}

@media only screen and (max-width: 500px){
    .novoModal{
        width: 60%;
    }

    .tituloModalEditar{
        font-size: 12px;
    }

    .conteudoEditar{
        font-size: 12px;
    }

    .imagemEditar{
        font-size: 14px;
    }

     #adcTituloEditar{
        font-size: 12px;
    }

     #adcDescEditar{
        font-size: 12px;
    }

    .conteudoEditar button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px){
    .novoModal{
        width: 76%;
    }
}