*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
/* body{
    background-color: #bd7bd1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
body *{
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.criar{
    width: fit-content;
    height: fit-content;
} */

/* display: flex;
    flex-direction: column;
    position: absolute;
    height: fit-content;
    width: 28%;
    background-color: #f2f2f2;
    z-index: 3;
    border-radius: 6px;
    left: 35%;
    top: 25%;
    font-family: "Fredoka", sans-serif; */


.modal2{
    display: none;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 28%;
    position: absolute;
    border-radius: 6px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.cencelarTexto{
    width: 100%;
 }

 .modal2 p{
    text-align: center;
 }

.botoes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;    
}
.botoes button{
    padding: 4px 18px 4px 18px;
    border-radius: 12px;
    color: #f0f0f0;
    background-color: #bd7bd1;
    border: none;
    transition: all 0.2s;
}
.botoes button:hover{
    transform: scale(1.05);
}





@media only screen and (max-width:950px){
    .cancelarTexto{
        font-size: 20px;
    }
    .botoes button{
        font-size: 24px;
    }
    .modal2{
        transform: scale(0.8);
    }
}


@media only screen and (max-width:650px){

    .modal2{
        transform: scale(0.7);
    }
    .cancelarTexto{
        font-size: 20px;
    }
    .botoes button{
        font-size: 20px;
    }

} 
@media only screen and (max-width:450px){

    .modal2{
        transform: scale(0.5);
    }
    .cancelarTexto{
        font-size: 20px;
    }
    .botoes button{
        font-size: 20px;
    }

} 