body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  height: 420px;
  width: 100%;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 100px;
  padding-right: 100px;
  flex-flow: row;
}
.containerImage {
  background: linear-gradient(
    to right,
    rgba(189, 123, 209, 0.7),
    rgba(255, 159, 223, 0.7),
    rgba(136, 200, 238, 0.7)
  );
  border-radius: 8px;
  width: 45%;
  height: 420px;
  display: flex;
}

.containerImage img {
  /* width: 440px;
  height: 250px; */
  width: 80%;
  height: 60%;
  /* width: 50vh; */
  display: flex;
  margin: auto;
  align-items: center;
  object-fit: cover;
  border-radius: 12px;
}

.containerPost {
  background: linear-gradient(
    to left,
    rgba(189, 123, 209, 0.7),
    rgba(255, 159, 223, 0.7),
    rgba(136, 200, 238, 0.7)
  );
  border-radius: 8px;
  width: 55%;
  height: 420px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 44px 50px;
}

.containerAutor {
  width: 550px;
  height: 65px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.elipse {
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.autor {
  width: 90px;
  height: 36px;
  font-size: 12px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerPost h1 {
  font-size: 28px;
  font-family: "fredoka", sans-serif;
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: 16px;
  font-family: "fredoka", sans-serif;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.containerAutor .autor h3 {
  font-size: 16px;
  transform: translate(0px, 10px);
  margin: 0;
}

.autor h2 {
  font-size: 12px;
  font-weight: 300;
  font-family: "fredoka", sans-serif;
  word-wrap: break-word;
}

