
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
  background-color: #f2f2f2;
}

  .overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 30%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
  }

  .mainTabela{
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .apresentacao {
    background: linear-gradient(
      to right,
      rgba(189, 123, 209, 0.7),
      rgba(255, 159, 223, 0.7),
      rgba(136, 200, 238, 0.7)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 550px; */
    /* gap: 45%; */
    border-radius: 12px;
    padding: 20px 60px 20px 60px;
    font-family: "Itim", sans-serif;
    font-weight: 100;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .logo img {
    width: 100px;
  }
  
  .container-usuario {
    background-color: rgba(189, 123, 209, 0.3);
    margin-top: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    /* width: 200px; */
  }
  
  table {
    color: #ae1d7e;
    width: 100%;
    padding: 10px;
    font-family: "Fredoka", sans-serif;
  }
  
  table tr {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;        
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #bd7bd1;
  }

  tbody tr:hover{
    background-color: #af508f4a;
  }

  .container-busca {
    display: flex;
    justify-content: right;
    padding-right: 40px;
    align-items: center;
    width: 100%;
    margin-left: 5%;
  }

  #divBuscaPubli {
    background-color: #f2f2f2;
    border-radius:12px;          
    width: 20%;
    height: 32px;
    margin: 20px 0 0px 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    color: #bd7bd1;
  }

  #txtBuscaPubli {
    background-color: transparent;
    padding-left: 5px;
    font-size: 14px;
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
  }
  #divBuscaPubli i {
    width: 25px;
    padding-left: 10px;
    padding-right: 20px;
  }

  thead tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  tbody{
    width: 100%;
  }

  tbody tr{
    align-items: center;
  }

   .id{
    width: 5%;
    display: flex;
    justify-content: center;
  }

  .titulo{
    width: 23%;
    display: flex;
    justify-content: center;
    word-break: break-all;
    
  }
  
  /* .titulo p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
  } */

  .autor{
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .data{
    width: 18%;
    display: flex;
    justify-content: center;
  }

  .acoes-tr{
    width: 28%;
    display: flex;
    justify-content: center;
  }
  
  .acoes {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 12px;
    border: none;
    color: #f09fd5;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Itim";
  }
  
  .acoes .editar,
  .deletar,
  .visualizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    background-color: #f2f2f2;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .acoes i:hover{
    transform: scale(1.15);
  }
  
  .paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
  }
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    background-color: #f09fd5;
    border: #f09fd5;
    color: white;
  }
  .seta {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: #f09fd5;
    border: #f09fd5;
    color: white;
    margin: 4px;
  }
  .button:hover {
    background-color: #f763c6;
    cursor: pointer;
  }
  
  @media (max-width: 1200px) {
    .mainTabela{
      margin-left: 5%;
      margin-right: 5%;
    }
    .container-busca {
      padding-right: 40px;
    }
  }
  
  @media (max-width: 1000px) {
    .mainTabela{
      margin-left: 5%;
      margin-right: 5%;
    }

  }

  @media (max-width: 900px){
    .mainTabela{
      margin-left: 7%;
      margin-right: 7%;
    }
    .container-busca {
      padding-right: 50px;
    }
  
  }
  
  @media (max-width: 800px) {

    .mainTabela{
      margin-left: 5%;
      margin-right: 5%;
    }

    .apresentacao {
      /* gap: 100px; */
      /* width: 600px; */
      font-size: smaller;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .logo img {
      width: 100px;
    }
  
    .apresentacao h2 {
      font-size: 17px;
    }
  
    .btn {
      width: 80px;
      font-size: 15px;
    }
  
    .container-usuario {
      /* width: 600px; */
      font-size: 14px;
    }

    #divBuscaPubli{
      width: 25%;
    }
    .container-busca {
      padding-right: 30px;
    }
    
    .acoes{
      gap: 10px;
    }

    .data{
      width: 18%;
    }

    .autor{
      width: 28%;
    }
  }
  
  @media (max-width: 600px) {
  
    .logo {
      gap: 10px;
    }
  
    .logo img {
      width: 70px;
    }
  
    .apresentacao h2 {
      font-size: 15px;
    }
  
    .btn {
      width: 60px;
      height: 30px;
      font-size: 13px;
    }
  
    .container-usuario {
      /* width: 500px; */
      font-size: 14px;
    }
    .container-busca {
      padding-right: 35px;
    }

    #divBuscaPubli{
      width: 29%;
    }

    .acoes{
      gap: 10px;
    }

    .acoes .editar,
    .deletar,
    .visualizar {
      width: 30px;
      height: 20px;
    } 
  }
  
  @media (max-width: 500px) {
    .apresentacao {
      /* gap: 150px; */
      /* width: 410px; */
      padding: 10px;
    }
  
    .logo {
      gap: 10px;
    }
  
    .logo img {
      width: 50px;
    }
  
    .apresentacao h2 {
      font-size: 13px;
    }
  
    .btn {
      width: 50px;
      height: 25px;
      font-size: 12px;
      gap: 5px;
    }
  
    .container-usuario {
      /* width: 410px; */
      font-size: 12px;
    }

    #divBuscaPubli{
      width: 32%;
    }
    .container-busca {
      padding-right: 15px;
    }

    .autor{
      width: 22%;
    }
    .acoes {
      gap: 5px;
    }

    .acoes-tr{
      gap: 2px;
    }
  
    .acoes .editar,
    .deletar,
    .visualizar {
      width: 20px;
      height: 15px;
    }
    .button {
      padding: 4px 12px;
    }
  
    .seta {
      padding: 4px 6px;
    }
  }

  @media(max-width:400px){

    .mainTabela{
      margin-left: 0.1%;
      margin-right: 0.1%;
    }

    .apresentacao {
      /* gap: 100px; */
      /* width: 310px; */
      padding: 5px;
    }
  
    .logo {
      gap: 10px;
    }
  
    .logo img {
      width: 45px;
    }
  
    .apresentacao h2 {
      font-size: 10px;
    }
  
    .btn {
      width: 50px;
      height: 20px;
      font-size: 10px;
    }
  
    .container-usuario {
      /* width: 310px; */
      font-size: 10px;
    }

    #divBuscaPubli{
      width: 38%;
    }

    #txtBuscaPubli{
      font-size: 12px;
    }
  
    .id{
      width: 3%;
    }

    .titulo{
      width: 18%;
      overflow: hidden;
    }

    .autor{
      width: 20%;
    }

    .acoes-tr{
      gap: 2%;
    }

    .acoes .editar,
    .deletar,
    .visualizar {
      width: 20px;
      height: 15px;
      font-size: 10px;
    }

    .button {
      padding: 4px 12px;
    }
  
    .seta {
      padding: 4px 6px;
    }
    .container-busca {
      padding-right: 18px;
    }
  }
