* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentacao {
  background: linear-gradient(
    to right,
    rgba(189, 123, 209, 0.7),
    rgba(255, 159, 223, 0.7),
    rgba(136, 200, 238, 0.7)
  );
  display: flex;
  align-items: center;
  gap: 550px;
  border-radius: 12px;
  padding: 20px 60px 20px 60px;
  font-family: "Itim", sans-serif;
  font-weight: 100;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo img {
  width: 120px;
}

.container-usuario {
  background-color: rgba(189, 123, 209, 0.3);
  margin-top: 10px;
  border-radius: 12px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-busca {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

#divBusca {
  background-color: #f2f2f2;
  border-radius:12px;          
  width: 250px;;
  height: 32px;
  margin: 20px 0 0px 0px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

#txtBusca {
  background-color: transparent;
  padding-left: 5px;
  font-size: 14px;
  border: none;
  height: 32px;
  width: 250px;
  outline: none;
}

#divBusca img {
  width: 25px;
  padding-left: 10px;
}

table {
  color: #ae1d7e;
  width: 100%;
  padding: 10px;
  font-family: "Fredoka", sans-serif;
}

table tr {
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  gap: 10px;
}

thead tr {
  display: flex;
  justify-content: left;
  gap: 235px;
}

.nome {
  width: 80px;
}

.email {
  width: 100px;
}

.acoes-tr {
  width: 200px;
}

.acoes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 35px;
  background-color: #f2f2f2;
  border-radius: 12px;
  border: none;
  color: #c44ce8;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Itim";
  transition: all 0.3s;
}

.acoes .editar,
.deletar,
.visualizar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 25px;
  background-color: #f2f2f2;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;

}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}
.button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  background-color: #f09fd5;
  border: #f09fd5;
  color: white;
}
.seta {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #f09fd5;
  border: #f09fd5;
  color: white;
  margin: 4px;
}
button:hover {
  background-color: #f763c6;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.acoes .deletar:hover {
  transform: scale(1.1);
}
.acoes .editar:hover {
  transform: scale(1.1);
}
.acoes .visualizar:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .apresentacao {
    gap: 400px;
  }
  .container-usuario {
    width: 1000px;
  }

  thead tr {
    display: flex;
    justify-content: left;
    gap: 170px;
  }

  .nome {
    width: 80px;
  }

  .email {
    width: 100px;
  }

  .acoes-tr {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .apresentacao {
    gap: 300px;
    width: 800px;
  }
  .container-usuario {
    width: 800px;
  }

  thead tr {
    display: flex;
    justify-content: left;
    gap: 100px;
  }

  .nome {
    width: 80px;
  }

  .email {
    width: 100px;
  }

  .acoes-tr {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .apresentacao {
    gap: 100px;
    width: 600px;
    font-size: smaller;
  }

  .logo img {
    width: 100px;
  }

  .apresentacao h2 {
    font-size: 17px;
  }

  .btn {
    width: 80px;
    font-size: 15px;
  }

  .container-usuario {
    width: 600px;
  }

  thead tr {
    display: flex;
    justify-content: left;
    gap: 35px;
  }

  .nome {
    width: 80px;
  }

  .email {
    width: 100px;
  }

  .acoes-tr {
    width: 200px;
  }

  #divBusca {
    width: 200px;
  } 

}

@media (max-width: 600px) {
  .apresentacao {
    gap: 80px;
    width: 400px;
    padding: 5px;
  }

  .logo {
    gap: 10px;
  }

  .logo img {
    width: 70px;
  }

  .apresentacao h2 {
    font-size: 15px;
  }

  .btn {
    width: 60px;
    height: 30px;
    font-size: 13px;
  }

  .container-usuario {
    width: 400px;
  }

  table tbody {
    font-size: 15px;
  }

  thead tr {
    display: flex;
    justify-content: left;
    gap: 25px;
  }

  .acoes {
    gap: 5px;
  }

  .nome {
    width: 50px;
  }

  .email {
    width: 60px;
  }

  .acoes-tr {
    width: 160px;
  }

  .acoes .editar,
  .deletar,
  .visualizar {
    width: 30px;
    height: 20px;
  }

  #divBusca {
    width: 150px;
  }

}

@media (max-width: 400px) {
  .apresentacao {
    gap: 50px;
    width: 310px;
    padding: 5px;
  }

  .logo {
    gap: 10px;
  }

  .logo img {
    width: 50px;
  }

  .apresentacao h2 {
    font-size: 13px;
  }

  .btn {
    width: 50px;
    height: 25px;
    font-size: 12px;
  }

  .container-usuario {
    width: 310px;
  }

  table tbody {
    font-size: 13px;
  }

  thead tr {
    display: flex;
    justify-content: left;
    font-size: 14px;
    gap: 10px;
  }

  .acoes {
    gap: 5px;
  }

  .nome {
    width: 50px;
  }

  .email {
    width: 60px;
  }

  .acoes-tr {
    width: 90px;
  }

  .acoes .editar,
  .deletar,
  .visualizar {
    width: 30px;
    height: 20px;
  }

  .button {
    padding: 4px 12px;
  }

  .seta {
    padding: 4px 6px;
  }
}
