<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeartBeats - Modal criar post</title>
</head>
<body>
    <div class="modalCriarPost">
        <div class="titulo">

        </div>
        <div class="conteudoCriar">
            <div class="infosFixas">
                <p>Nome do autor</p>
                <p>28/10/2024</p>
            </div>
            <label class="imagem">
                <input type="file" accept="image/*" class="adcImage">
            </label>
            <input type="text" name="Titulo" id="adcTitulo" placeholder="Digite o título da publicação">
            <input type="text" name="Descricao" id="adcDesc" placeholder="Digite a descrição da publicação">
            <div class="botoesCriar">
                <button>Criar</button>
                <button>Cancelar</button>
            </div>
        </div>
    </div>
</body>
</html>