<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/modaldeletarpost.css">
    <title>Modal</title>
</head>
<body>
    <form class="modal2" id="cancelar2">
        <p class="cancelarTexto">
            Tem certeza que deseja deletar este post?
        </p>
        <div class="botoes">
            <button>Confirmar</button>
            <button onclick="fechaModal()">Cancelar</button>
            </div>
        </form>
</body>
</html>