<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Post</title>
    <link rel="stylesheet" href="/public/css/modaldeletarpost.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap">
</head>
<body>
    <div class="modaldeletpost">
        <p>Tem certeza que deseja deletar <br>esse post?</p>
        <div class="botoesdeletpost">
            <a href="" class="btn-modaldelet">Confirmar</a>
            <a href="" class="btn-modaldelet">Cancelar</a>
        </div>
    </div>
</body>
</html>