<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeartBeats - Modal criar post</title>
    <link rel="stylesheet" href="/public/css/modalEditarPost.css">
</head>
<body>
    <div class="modalEditarPost" id="modalEditPost">
        <div class="tituloModalEditar">
            <h1>Editar Publicação</h1>
        </div>
        <form class="conteudoEditar">
            <div class="infosFixasEditar">
                <p>Nome do autor</p>
                <p>28/10/2024</p>
            </div>
            <label for="adcImageEditar" class="imagemEditar" >
                <i class="fa-solid fa-image"></i>
                <span>Adicione uma imagem</span>
            </label>
            <input type="file" accept="image/*" id="adcImageEditar" autofocus>
            <input type="text" name="Titulo" id="adcTituloEditar" placeholder="Digite o título da publicação">
            <textarea name="descricao" id="adcDescEditar" placeholder="Digite a descrição da publicação"></textarea>
            <div class="botoesEditar">
                <button type="submit" class="botaoEditar">Salvar</button>
                <button class="botaoCancelarEditar" onclick="fechaModal()">Cancelar</button>
            </div>
        </form>
    </div>
</body>
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
</html>