<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/modalDeletarUser.css">
    <title>Modal</title>
</head>
<body>
    <form class="modal_deletar" id="deletar">
        <p class="cancelarTexto">
            Tem certeza que deseja deletar este usuário?
        </p>
        <div class="botoes_del">
            <button>Confirmar</button>
            <button>Cancelar</button>
            </div>
        </form>
</body>
</html>