<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <link rel="stylesheet" href="../../../public/css/sidebar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
    <!-- MODAL FECHADO -->
    <div class="side">
        <div class="funcoes">
            <div class="func">
                <i id="menu" onclick="abrir()" class="icone bi bi-list"></i>            
            </div>
            <div class="func">
                <i class="icone bi bi-grid"></i>                
            </div>
            <div class="func">
                <i class="icone bi bi-pencil-square"></i> 
            </div>
            <div class="func">
                <i class="icone bi bi-people"></i>                
            </div>
            <div class="func">
                <i class="icone bi bi-box-arrow-right"></i>                
            </div>
        </div>
    </div>
    <!-- MODAL ABERTO-->
    <div class="sidebar">
        <div class="funcoes">
            <div class="func">
                <i id="X" onclick="fechar()" class="bi bi-x-lg"></i>            
            </div>
            <div class="func">
                <a href="/dashboard" class="btsdasidebar">
                    <i class="icone bi bi-grid">  Dashboard</i>                
                </a>
            </div>

            <div class="func">
                <a href="/posts" class="btsdasidebar">
                    <i class="icone bi bi-pencil-square">  Publicações</i>                    
                </a>
            </div>

            <div class="func">
                <a href="/usuarios" class="btsdasidebar">
                    <i class="icone bi bi-people">  Usuários</i>                
                </a>
            </div>

            <div class="func">
                <form action="/logout" method="POST">   
                    <button  type="submit">  
                    <i class="icone bi bi-box-arrow-right">  Logout</i>   
                    </button>   
                </form>             
                </a>
            </div>
        </div>
    </div>

</body>

<script src="../../../public/js/sidebar.js"></script>   

</html>