<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../../public/css/sidebar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <div class="logoimg"><img src=../../../public/assets/logo.png alt="Logo HeartBeats"></div>
            <div class="escrito"><img src=../../../public/assets/escrito.png alt="Logo HeartBeats"></div>
        </div>
        <div class="funcoes">
            <div class="func">
                <div class="icone"><img src="../../../public/assets/dashboard.png" alt=""></div>
                <div class="texto"><p> Dashboard</p></div>
            </div>
            <div class="func">
                <div class="icone">
                    <img src="../../../public/assets/publicacoes.png" alt="">
                    <div class="texto"><p> Publicações</p></div>
                </div>
            </div>
            <div class="func">
                <div class="icone">
                    <img src="../../../public/assets/users.png" alt="">
                    <div class="texto"><p> Usuários</p></div>
                </div>
            </div>
            <div class="func">
                <div class="icone">
                    <img src="../../../public/assets/Logout.png" alt="">
                    <div class="texto"><p> Logout</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>