<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/public/css/modalvisualizarpost.css">
    <title>Visualizar Post</title>
</head>
<body>
    <form class="modal_visualizarPost">
        <div class="desc_visualizacao">
            <p class="texto">
                Vizualizar publicação
            </p>
            <i id="X" onclick="fechar()" class="bi bi-x-lg"></i>  
        </div>

            <div class="esct_autor_data">
                <p class="texto">Nome do Autor</p>
                <p class="texto">30/10/2024</p>
            </div>
            <div class="imagem_post">
                <img src="/public/assets/Frame 7.png" alt="">
            </div>
            <div class="esct_post">
                <p class="titulo">Titulo</p>
                <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam cumque ipsum delectus fugit eligendi nam id commodi 
                    molestiae unde nemo provident odit, quam, porro modi odio perspiciatis eius non ipsam.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam cumque ipsum delectus fugit eligendi nam id commodi 
                    molestiae unde nemo provident odit, quam, porro modi odio perspiciatis eius non ipsam.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam cumque ipsum delectus fugit eligendi nam id commodi 
                    molestiae unde nemo provident odit, quam, porro modi odio perspiciatis eius non ipsam.
                </p>
            </div>
    </form>
</body>
</html>