<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Beats - Footer</title>
    <link rel="stylesheet" href="../../../public/css/footerStyle.css">
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="tela"></div>
    <footer>
        <div class="redeSocial">
            <ul>
                <li>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>                    
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>                    
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
        <div class="infos">
            <img src="../../../public/assets/heartBeats-logo-com-nome.png" alt="Logo do Heart Beats">
            <div>
                <ul>
                    <li><a href="#" id="missao" onclick="openModal('missao')">Missão</a></li>
                    <li><a href="#" id="visao" onclick="openModal('visao')">Visão</a></li>
                    <li><a href="#" id="valores" onclick="openModal('valores')">Valores</a></li>
                </ul>
            </div>
            <img src="../../../public/assets/logo-code.jpg" alt="Logo da Code JR" id="code">
        </div>
    </footer>

    <!-- Modal -->
     <div class="modal">
        <div class="titulo">
            <h1></h1>
        </div>
        <div class="texto">
            <p></p>
        </div>
     </div>
</body>
    <script src="/public/js/footerScript.js"></script>
</html>
