<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Beats - Footer</title>
    <link rel="stylesheet" href="../../../public/css/footer.css">
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="tela"></div>
    <footer>
        <div class="redeSocial">
            <ul>
                <li>
                    <a href="https://www.facebook.com/codeempresajunior"><i class="fa-brands fa-facebook"></i></a>                    
                </li>
                <li>
                    <a href="https://www.instagram.com/codejr/"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://x.com/?lang=pt-br"><i class="fa-brands fa-x-twitter"></i></a>                    
                </li>
                <li>
                    <a href="https://br.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
        <div class="infos">
            <img src="../../../public/assets/heartBeats-logo-com-nome.png" alt="Logo do Heart Beats">
            <div class="meioFooter">
                <ul>
                    <li><a id="missao" onclick="openModal('missao')">Missão</a></li>
                    <li><a id="visao" onclick="openModal('visao')">Visão</a></li>
                    <li><a id="valores" onclick="openModal('valores')">Valores</a></li>
                </ul>
                <div class="copyright">
                    &copy; 2024 Code Jr.
                </div>
            </div>
            <img src="../../../public/assets/logo-code.jpg" alt="Logo da Code JR" id="code">
        </div>
    </footer>

    <!-- Modal -->
     <div class="modalFooter">
        <div class="tituloModalFooter">
            <h1></h1>
        </div>
        <div class="textoModalFooter">
            <p></p>
        </div>
     </div>
</body>
    <script src="../../../public/js/footerScript.js"></script>
</html>