<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/landingPage.css">
    <title>HeartBeats</title>
</head>
<body>
    <div class="desc">
        <div class="logo"><img src=../../../public/assets/logoEscrito.png alt="Logo HeartBeats"></div>
        <div class="texto"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero magni sunt nihil perspiciatis. Earum quo molestiae quibusdam, mollitia labore iste rerum accusamus sapiente delectus consequuntur ullam commodi sunt quia ut.</p></div>
    </div>
    
    <div class="grupos">
        <div class="titulo"><p>GRUPOS</p></div>
        <div class="conj">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div> 
        </div>   
    </div>
    <div class="posts">
        <div class="titulo">POST RECENTES</div>
        <div class="postSeta">
                <div class="setaE"><img src="../../../public/assets/Chevron Left.png" alt="arrastar para esquerda"></div>
                <div class="post"></div>
                <div class="setaD"><img src="../../../public/assets/SetaD.png" alt="arrastar para direita"></div>
         </div>
    </div>
</body>
</html>