<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeartBeats</title>
    <link rel="stylesheet" href="/public/css/listadeposts.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="divBusca">
        <img src="/public/assets/barrapesquisar.png" alt="">
        <input type="text" id="txtBusca" placeholder="Pesquisar"/>
    </div>
    <div class="colorido"> 
        <div class="posts">
        <div class="linha">
            <div class="post">
                <img src="/public/assets/download.jpg" alt="">
                <h1>titulo</h1>
                <div class="descrição">
                    <h2 class="aut">autor</h2>
                    <h3>data de criação</h3>
                </div>
            </div>
            <div class="post">
                <img src="/public/assets/download.jpg" alt="">
                <h1>titulo</h1>
                <div class="descrição">
                    <h2>autor</h2>
                    <h3>data de criação</h3>
                </div>
            </div>
            <div class="post">
                <img src="/public/assets/download.jpg" alt="">
                <h1>titulo</h1>
                <div class="descrição">
                    <h2>autor</h2>
                    <h3>data de criação</h3>
                </div>
            </div>

        </div>
        <div class="linha">
            <div class="post">
                <img src="/public/assets/download.jpg" alt="">
                <h1>titulo</h1>
                <div class="descrição">
                    <h2>autor</h2>
                    <h3>data de criação</h3>
                </div>
            </div>
            <div class="post">
                <img src="/public/assets/download.jpg" alt="">
                <h1>titulo</h1>
                <div class="descrição">
                    <h2>autor</h2>
                    <h3>data de criação</h3>
                </div>
            </div>
            <div class="post">
                <img src="/public/assets/download.jpg" alt="">
                <h1>titulo</h1>
                <div class="descrição">
                    <h2>autor</h2>
                    <h3>data de criação</h3>
                </div>
            </div>

        </div>
       
    </div>
</div>
<div class="paginação">
    <button onclick="changePage(-1)" class="seta">←</button>
    <span class="page-number"><button class="button">1</button></span>
    <span class="page-number"><button class="button">2</button></span>
    <span class="page-number"><button class="button">3</button></span>
    <button onclick="changePage(1)" class="seta">→</button>
</div>
</body>
<script src="/public/js/listadeposts.js"></script>
</html>

