<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Beat - Navbar e Footer</title>
    <link rel="stylesheet" href="../../../public/css/navbarStyle.css">
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../../public/assets/heartBeats-logo.png" alt="Logo do Heart Beats" id="marca">
            <img src="../../../public/assets/heartBeats-escrito.png" alt="Heart Beats escrito" id="escrito">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Publicações</a></li>
                <li id="login"><a href="#">Login</a></li>
                <li class="tresBarras"><i class="fa-solid fa-bars"><a href="#"></a></i></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer>

    </footer>
</body>
</html>