<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Beat - Navbar e Footer</title>
    <link rel="stylesheet" href="../../../public/css/navbarStyle.css">
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../../public/assets/heartBeats-logo.png" alt="Logo do Heart Beats" id="marca">
            <img src="../../../public/assets/heartBeats-escrito.png" alt="Heart Beats escrito" id="escrito">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Publicações</a></li>
                <li id="login"><a href="#">Login</a></li>
                <li class="tresBarras"><i class="fa-solid fa-bars"><a href="#"></a></i></li>
            </ul>
        </nav>
    </header>
    <main>Main</main>
    <footer>
        <div class="redeSocial">
            <ul>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
        <div class="infos">
            <img src="../../../public/assets/heartBeats-logo-com-nome.png" alt="Logo do Heart Beats">
            <div>
                <ul>
                    <li>Missão</li>
                    <li>Visão</li>
                    <li>Valores</li>
                </ul>
            </div>
            <img src="../../../public/assets/logo-code.jpg" alt="Logo da Code JR">
        </div>
    </footer>
</body>
</html>