<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Indiuvidual</title>
    <link rel="stylesheet" href="../../../public/css/postIndividualStyle.css" />
  </head>
  <body>
    <div id="container">
      <div id="containerImage">
        <img src="../../../public/assets/MeninasKpop.jpg" alt="Meninas Kpop na grama." />
      </div>
      <div id="containerPost">
        <h1>Titulo do Post</h1>
        <div id=""></div>
        <p>Conteudo do Post</p>
      </div>
    </div>
  </body>
</html>
