<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Indiuvidual</title>
    <link rel="stylesheet" href="../../../public/css/postIndividualStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="containerImage">
        <img
          src="../../../public/assets/MeninasKpop.jpg"
          alt="Meninas Kpop na grama."
        />
      </div>
      <div class="containerPost">
        <h1>Titulo do Post</h1>
        <div class="containerAutor">
          <div class="elipse"></div>
          <div class="autor">
            <h3>Autor</h3>
            <h2>Data de criacao</h2>
          </div>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quam ea
          ratione inventore dicta suscipit, rerum unde sit recusandae iste!
          Distinctio eius, sit odit in laudantium repellendus ea possimus
          veritatis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut
          quam ea ratione inventore dicta suscipit, rerum unde sit recusandae
          iste! Distinctio eius, sit odit in laudantium repellendus ea possimus
          veritatis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut
          quam ea ratione inventore dicta suscipit, rerum unde sit recusandae
          iste! Distinctio eius, sit odit in laudantium repellendus ea possimus
          veritatis?
        </p>
      </div>
    </div>
  </body>
</html>
